<!DOCTYPE html>
<html>

<head>
    <title>Bowling</title>
    <link rel="stylesheet" type="text/css" href="./balling.css" />
</head>

<body>
    <div class="message hidden" id="message">Strike!</div>
    <div class="pins-wrapper">
        <div class="row">
            <div class="pin"></div>
            <div class="pin"></div>
            <div class="pin"></div>
            <div class="pin"></div>
            <div class="pin"></div>
        </div>
        <div class="row">
            <div class="pin"></div>
            <div class="pin"></div>
            <div class="pin"></div>
            <div class="pin"></div>
        </div>
        <div class="row">
            <div class="pin"></div>
            <div class="pin"></div>
            <div class="pin"></div>
        </div>
        <div class="row">
            <div class="pin"></div>
            <div class="pin"></div>
        </div>
        <div class="row">
            <div class="pin"></div>
        </div>
    </div>
    <div class="lane"></div>
    <div class="ball" id="ball"></div>
    <div class="ball-guide" id="guide"></div>
    <script src="./balling.js" type="text/javascript"></script>
</body>

</html>